body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a68069;
  color: white;
  text-align: center;
  padding: 10px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 110px; /* Tamaño personalizado para la imagen */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

nav {
  background-color: #d8af97;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #666;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ecd6c0;
}

section h2 {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: #ffffeb;
  text-align: center;
  padding: 10px;
}

#bicicletas-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.bicicleta {
  width: 100%;
}

.bicicleta img {
  width: 100%;
  object-fit: cover;
}
